h1,
p {
  font-family: Lato;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0.5rem;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.loading-container {
  height: 12px;
  width: 80px;
  margin-bottom: 0.5rem;
}

.person:hover {
  cursor: pointer;
}

.list-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
}

.paginator {
  display: flex;
}

.paginator__page-numbers {
  margin: 0 0.5rem;
}

.model-details__container {
  padding: 0 0.5rem;
}

.model-details {
  position: relative;
}

.close-details {
  position: absolute;
  top: 0.25rem;
  right: 2rem;
}

.loading-dots::after {
  display: inline-block;
  animation: loading-dots steps(1, end) 1s infinite;
  content: "";
}

@keyframes loading-dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
